$border-radius: 10px;
$box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
$background: #fff;
$image: url('./img/search.png');

.Lnb {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;

  &-create-btn {
    display: flex;
    align-items: center;
    width: 101px;
    height: 40px;
    padding: 11px 20px;
    border-radius: $border-radius;
    border: 1px solid #e0e0e0;
    background: #0288d1;
    color: white;

    &-plus {
      position: relative;
      right: 3px;
      bottom: 1px;
    }
  }

  &-form {
    display: inline-block;
  }

  &-search-input {
    width: 589px;
    height: 39px;
    border-radius: $border-radius;
    background: $background;
    box-shadow: $box-shadow;
    background-image: $image;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;

    &:focus {
      width: 589px;
      height: 39px;
      padding-left: 10px;
      flex-shrink: 0;
      border-radius: $border-radius;
      background: $background;
      box-shadow: $box-shadow;
      background-image: $image;
      background-position: calc(100% - 15px) center;
      background-repeat: no-repeat;
    }
  }

  &-chat {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  &-alarm {
    width: 16px;
    height: 19.5px;
    margin-top: 5px;
  }

  &-allim {
    display: flex;
    flex-wrap: nowrap;
  }

  &-right {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
  }
}

.layout-position {
  position: relative;
  bottom: 60px;
  right: 200px;
}
.Lnb-allim {
  span {
    position: relative;
    right: 7px;
    text-align: center;
    width: 12px;
    height: 12px;
    background-color: #0288d1;
    font-size: 9px;
    color: #fff;
    padding: 1px;
    border-radius: 10px;
  }
}
