* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    input {
        width: 270px;
        height: 43px;
        border: 1px solid #e0e0e0;
        background-color: #f5f5f5;
        color: black;

        border-radius: 3px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 12px;

        &::placeholder {
            color: #757575;
        }

        &:focus {
            outline: none;
            border: 1px solid #757575;
        }
    }

    .google,
    .naver,
    .kakao {
        width: 270px;
        height: 35px;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    button {
        width: 270px;
        height: 35px;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        font-size: 15px;
    }

    .or {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .or-line {
            width: 270px;
            border: 1px solid #e0e0e0;
            margin: 20px 0;
        }

        .or-text {
            background-color: white;
            color: #757575;
            font-weight: 700;
            position: absolute;
            font-size: 14px;
            width: 60px;
            text-align: center;
        }
    }
}

.join {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 640px;
    box-shadow: 0 0 4px #E0E0E0;
    flex-direction: column;

    .join__alert {
        font-size: 12px;
        color: #D32F2F;
        margin-top: 10px;
    }

    .join__pass {
        font-size: 12px;
        color: #00C853;

    }

    .join__title {
        font-size: 24px;
        color: #1E88E5;
        margin-bottom: 22px;

    }

    .join__desc {
        font-size: 13px;
        font-weight: 700;

        text-align: center;
    }

    .google {
        background-color: #F6F6F6;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }
    }

    .join__main {
        margin-top: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .join__btn {
            margin-top: 20px;
            color: white;
            background-color: #1E88E5;
        }

        .password__check {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #E0E0E0;
            font-size: 12px;
            margin-bottom: 10px;

            span {
                margin-right: 17px;
                display: flex;
                align-items: center;
                color: #E0E0E0;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}

.question-box {
    width: 375px;
    margin-top: 17px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 0 4px #E0E0E0;

    a {
        text-decoration: none;
        color: #6EAAF8;
        margin-left: 15px;
    }
}

#join__check {
    width: 60px;
    height: 22px;
    border-radius: 5px;
    font-size: 10px;
    color: #757575;
    position: absolute;
    top: 11px;
    right: 12px;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }


}