@import './components/topheader';
@import './components/topthree';
@import './components/topten';
@import './components/toptail';

.Leader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
