.imagination-main {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  textarea {
    border-radius: 0.8rem;
    resize: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
    &::placeholder {
      color: #d9d9d9;
    }
  }
}

.prompt-setting {
  width: 100%;
  display: flex;
  align-items: center;

  hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.255);
    width: 100%;
  }

  &-sample {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition: all 0.3s;
    cursor: pointer;
  }
}

.prompt-input {
  padding: 10px;
  width: 1200px;
  height: 100%;
  border: none;
  border-radius: 10px;
  background: #f5f5f5;
  font-size: larger;
  resize: none;
}
.imagination-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.loading-img {
  width: 500px;
  height: 500px;
}

.settings-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .sample-btn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #d4d4d4;
    }

    &.selected {
      background-color: #0288d1;
      color: white;
    }
  }

  &-02 {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.submit {
  background: #0288d1;
}

.img-Generate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.Generated-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Generated-img,
  .loading-img {
    width: 300px;
    height: 300px;
  }

  .Generated-img img,
  .loading-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 1em;
    padding: 5px;
  }
}

.generate-btn-active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 51px;
  color: white;
  background: #0288d1;

  &:hover {
    background: #0a76b1;
  }
}

.size-btn {
  height: 35px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #d4d4d4;
  }

  &.selectedSize {
    background-color: #0288d1;
    color: white;
  }
}

.image-history {
  width: 100%;

  & textarea {
    pointer-events: none;
  }
}

.width {
  width: 50px;
}

.imagination-lnb {
  margin-left: 15.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}
