@keyframes movedown {
  0% {
    top: -277px;
    /* 시작 위치: 화면 위쪽 */
  }

  100% {
    top: 0;
    /* 종료 위치: 화면 아래로 200px 내려감 */
  }
}

@keyframes moveup {
  0% {
    bottom: -533px;
    /* 시작 위치: 화면 하단 */
  }

  100% {
    bottom: 0;
    /* 종료 위치: 화면 위로 200px 올라감 */
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* 시작 위치: 약간 위로 이동 */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* 종료 위치: 원래 위치로 돌아오기 */
  }
}

.create-list {
  display: flex;
}

.side-tab {
  display: flex;
  width: 210px;
  background-color: whitesmoke;
  height: 100vh;
}

.board-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.bring-art {
  width: 925px;
  height: 277px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0;
  animation: movedown 1.2s ease 1;
}

.bring-art-content {
  height: 100%;
  width: 820px;
}

.bring-art-title {
  padding-top: 22px;
  padding-bottom: 22px;
}

.bring-art-list {
  display: flex;
  height: 100%;
  width: 820px;
  justify-content: space-between;
}

.bring-art-image {
  width: 178px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
  position: relative;

  img {
    width: 178px;
    height: 178px;
    object-fit: cover;
  }
}

.bring-art-prompt {
  width: 624px;
  height: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bring-art-prompt-positive {
  width: 624px;
  height: 83px;
  background-color: #f5f5f5;
  display: flex;
  border-radius: 5px;
  padding: 1%;
  flex-direction: column;
}

.bring-art-prompt-negative {
  width: 624px;
  height: 83px;
  background-color: #f5f5f5;
  display: flex;
  border-radius: 5px;
  padding: 1%;
  flex-direction: column;
}

.board-content {
  margin-top: 3%;
  width: 925px;
  height: 69vh;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: moveup 1s ease-out 1;
  flex-wrap: wrap;
  overflow: auto;
}

.art-detail {
  height: 80%;
  width: 90%;
  text-align: left;
  color: #d9d9d9;
  padding-top: 5%;
  border-top: 1px solid #d9d9d9;

  p {
    float: right;
  }
}

.board-title {
  width: 90%;
  color: #d9d9d9;
  border-bottom: #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.art-detail-textarea-title {
  font-size: 24px;
  border: none;
  outline: none;
  resize: none;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding-top: 12px;
  width: 100%;
  height: 80%;
}

.art-detail-textarea-hashtag {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

.art-detail-textarea-details {
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  font-weight: bolder;
  width: 100%;
  height: 80%;
}

.art-button {
  float: right;
  width: 123px;
  height: 41px;
  border-radius: 10px;
  background-color: #0288d1;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.board-modal-black-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

.board-modal-bg {
  position: fixed;
  top: 15%;
  left: 20%;
  width: 1017px;
  height: 680px;
  background-color: white;
  opacity: 1;
  z-index: 10;
  padding: 22px;
  overflow: auto;
  animation: fadein 0.5s ease-out;
  /* fadeIn 애니메이션 적용 */
}

.modal-close-button-space {
  width: 100%;
  height: 5%;
}

.modal-close-button {
  float: right;
}

.modal-list {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-select-button {
  width: 30px;
  height: 30px;
}

.modal-list-img {
  width: 240px;
  height: auto;
  overflow: hidden;
  background-color: #d9d9d9;
  margin-left: 13px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.modal-prompt-list {
  display: flex;
  flex-direction: column;
  width: 624px;
  height: 240px;
  background-color: white;
  justify-content: space-between;
  margin-left: 32px;
}

.modal-prompt-positive {
  background-color: #d9d9d9;
  width: 624px;
  height: 115px;
  border-radius: 5px;
  padding: 13px;
}

.modal-prompt-negative {
  background-color: #d9d9d9;
  width: 624px;
  height: 115px;
  border-radius: 5px;
  padding: 13px;
}

.modal-select-sure {
  float: right;
  margin-top: 15px;
  width: 123px;
  height: 41px;
  border-radius: 10px;
  background-color: #0288d1;
  color: white;
  font-weight: bold;
}

.modal-select-sure.disabled {
  background-color: #0288d1;
  opacity: 0.5;
}

.modal-select-sure.enabled {
  background-color: #0288d1;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-plus {
  position: absolute;
  top: 10%;
  font-size: 59px;
  z-index: -2;
}
