.chatingroom-container {
  width: 100%;
  height: 100vh;
  text-align: ce;
}

.chatingroom-topcontainer {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 5px;
}

.chattopcontainer-logout-btn {
  margin-top: 15px;
  float: right;
  cursor: pointer;
}

.chattopcontainer-profileimg {
  padding-left: 10px;
}

.chattopcontainer-id {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.chatingroom-chatcontents {
  height: 80%;
}

.chatingroom-inputcontainer {
  height: 10%;
}

.chatingroom-input {
  padding-top: 60px;
  width: 600px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}

.chatingroom-inputbtn{
  color: #6EAAF8;
  background-color: #f5f5f5;
  display: inline-flex;
  padding: 10px 16px;
  border-radius: 10px;
}