$topten-bg-color: #fff;
$topten-white-color: #fff;
$topten-blue-color: #0288d1;
// $scroll-thumb-color: rgb(121, 121, 121);
$scroll-thumb-color: #0288d1;
$scroll-thumb-hover-color: #62c0f3;
$scroll-track-color: #f9f9f9;
$background-blue: #0288d1;
$color-white: #fff;

// Container styles
.top-ten {
  display: flex;
  padding-right: 600px;

  .swiper-container {
    display: flex;
  }
}

// Swiper slide
.swiper-slide {
  padding-top: 5%;
  width: 17%;
  height: 20rem;

  .top-ten-span {
    background-color: #0288d1;
    $topten-blue-color: #0288d1;
    transform: translate(0%, 0%); // Adjust for exact centering
    padding: 10px;
    color: $color-white;
    position: relative;
    top: -150px;
    right: -30px;
    border-radius: 10px;
  }

  .top-ten-img-size {
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    background: #f5f5f5;
    border-radius: 10%;
  }
}

// Slider controller
.slider-controler {
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-button-next {
    left: 55% !important;

    @media (max-width: 0%) {
    }

    @media (max-width: 0%) {
    }
  }

  .swiper-button-prev {
    @media (max-width: 0%) {
    }

    @media (max-width: 0%) {
    }
  }
}
