.Topheader {
  text-align: center;
  font-size: xx-small;

  .leaderboard {
    margin-bottom: 1em;
    padding: 0.5%;
  }

  .duration {
    display: flex;
    justify-content: center;
    gap: 1em;

    > button {
      // border: 5px solid var(--color-light);
      font-size: xx-small;
      border: solid 1px;
      padding: 0.5em 2em;
      border-radius: 50px;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 1%;

      &:hover {
        background-color: var(--color-dark);
        color: var(--color-light);
      }
    }
  }
}
