.Topthree {
  // display: flex;
  width: 100%; // Adjust the width as needed
  height: auto;
  text-align: center;
  font-size: xx-small;

  .card {
    display: inline-block;
    width: 15%;
    height: auto;
    padding: 1%;
    border: 1x solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    border-radius: 10%;
    justify-content: space-between 10%;

    .top-three-img-size {
      width: 50%; // Reduced width
      height: auto;
      border-radius: 10%;
    }

    .top-three-blue-box-size {
      // position: absolute;
      z-index: 10;
      /* Adjust the value as needed */
      display: inline-flex;
      /* Uses inline-flex to make the item inline but also a flex container */
      justify-content: center;
      /* Centers children horizontally */
      align-items: center;
      /* Centers children vertically */
      gap: 10px;
      /* Spaces out children */
      padding: 5px 10px;
      /* Pads the container */
      background: #0288d1;
      /* Sets a blue background color */
      color: white;
      /* Sets the text color to white */
      border-radius: 20%;
      /* Rounds the corners */
      margin-right: 40%;
      margin-left: 40%;
      margin-bottom: 1%;
      /* Adds margin to the right */
    }

    .name,
    .grade,
    .score {
      margin: 1%;
    }
  }
}
