$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
$border-radius: 10px;
$background: #fff;

.post-card {
  width: 500px;
  height: 409px;
  flex-shrink: 0;
  border-radius: $border-radius;
  background: $background;
  box-shadow: $box-shadow;
  padding: 19px;

  &-img {
    margin-bottom: 10px;
    width: 459px;
    height: 305px;
    border-radius: 4px;
    background: #d9d9d9;
  }

  &-footer {
    border-top: solid 1px #e9e9e9;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      align-items: center;

      > span {
        margin-left: 10px;
      }
    }
  }
}

.feed-cards {
  position: relative;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 110px;
}
